html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.header {
    color: black;
    -webkit-box-shadow: -1px -7px 24px -7px rgba(8, 8, 8, 1);
    -moz-box-shadow: -1px -7px 24px -7px rgba(8, 8, 8, 1);
    box-shadow: -1px -7px 24px -7px rgba(8, 8, 8, 1);
    font-weight: bold;
}

.header .div_container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}


.header .div_logo a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    gap: 30px;
}

.navbar a {
    color: black;
    font-size: 14px;
    outline: none;
    text-decoration: none;
}

.navbar li {
    list-style: none;
}

.div_container-footer {
    width: 100%;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-start;
    padding: 20px 0;
}

.div_container-footer .div_conteudo-footer {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
}

.div_titulo-footer {
    color: white;
    font-weight: bold;
    font-size: 16px;

}

.traco {
    background-color: #ffc714;
    width: 90px;
    height: 2px;
    margin-bottom: 30px;

}

.div_descricao-footer {
    font-size: 14px;
}

/* Começo da Home index.html*/

.index {
    width: 100%;
    height: 750px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('../assets/imagem-fundo.png');
    background-size: cover;
    border-bottom: 5px solid #ffc714;
}

.index a {
    color: #fff;
}

.index .div_logo a {
    color: #fff;
}

.header .div_slogan {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 90px;
    padding-top: 150px;
    color: #fff;

}


.header .div_slogan h1 {
    font-size: 40px;
    margin: 0;

}

.header .div_slogan p {
    font-size: 18px;
    margin-top: 20px;

}

.header .div_slogan span {
    color: #ffc714;

}

#div_conteudo-home {
    width: 100%;
    height: 980px;

}

#div_conteudo-home h1 {
    font-size: 40px;
}

#div_conteudo-home .div_container-sobrenos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    padding: 80px 0px 90px 0px;
    border-radius: 5px;

}

.div_container-sobrenos p {
    margin: 0;
    width: 900px;
    margin-bottom: 15px;
}

#div_conteudo-home .div_container-valores {
    background-color: #1E1E1E;
    text-align: center;
    padding: 40px;
    padding-bottom: 50px;
}

#div_conteudo-home .div_container-valores p {
    width: 50%;
    font-size: 16px;
    color: #f4f4f4;
}


#div_conteudo-home .div_container-valores h1 {
    margin-bottom: 0;
    font-weight: bolder;
    color: #f4f4f4;

}

.div_conteudo-valores, .div_valor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: self-start;
}

.div_valor {
    flex-direction: column;
    flex: 1;
}

.div_valor h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f4f4f4;

}

.div_valor p {
    font-size: 20px;
    width: 80%;
    text-align: center;
    height: 20%;
}

.circle {
    width: 190px;
    height: 190px;
    border-radius: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_valor img {
    width: 120px;
}

.div_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    flex-direction: column;

}

.div_titulo h1 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 30px;
}

#div_conteudo-home .div_traco {
    background-color: #ffc714;
    width: 110px;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 30px;

}

.div_conjunto-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 35px;
    gap: 60px;

}

.div_card {
    padding-top: 100px;
    width: 25%;
    height: auto;
    background-color: #ffc714;
    padding: 20px;
    border-radius: 10px;
}

.div_container-solucao {
    padding: 80px 0px 40px 0px;
}

.div_conjunto-cards .div_card h1 {
    font-size: 50px;
    color: white;
    margin: 0;
    font-family: Unbounded;
}

.div_conjunto-cards .div_card h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div_card h4 {
    font-weight: normal;
    font-size: 18px;


}

.div_card h3,h4 {
    color: #0c0c0c;
}

.div_container-parceiros .div_container-img {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.div_container-contato {
    background-color: #F5F5F5;
    padding: 50px;
}

.div_container-contato .div-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 5px;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 20px;

}

#img-carros-home {
    height: 462px;
    border-radius: 10px;
    filter: brightness(60%);
}

.div_container-contato .div-conteudo .contato {
    box-shadow: 0.5px 0.5px 30px -15px rgba(0, 0, 0, 0.705);
}

.div-conteudo .div_forms h3 {
    color: #0c0c0c;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 0px;
}

.contato .input_campo, .input_campo-msg {
    height: 45px;
    width: 420px;
    border: none;
    border-radius: 5px;
}


.div_container-contato .div-conteudo .div_forms .input_campo-msg {
    height: 120px;
}

.button-forms {
    height: 45px;
    width: 420px;
    background-color: #0c0c0c;
    color: #f4f4f4;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}

.div_container-contato .div_forms {
    margin: 0;
}

.div_container-contato .button-forms {
    margin-bottom: 28px;
}

/* Fim da Home index.html*/


/* Calculadora */
.p1-calculadora-interface select {
    width: 420px;
    font-family: 'Ubuntu', sans-serif;
}

.p1-calculadora-interface,
.p2-calculadora-interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div_container-calculadora .titulo {
    text-align: center;
    margin-top: 40px;

}

.div_container-calculadora .titulo h1 {
    margin: 0;
    font-size: 35px;

}

.p1-calculadora-dados {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}


.p1-calculadora-dados p {
    margin-right: 30px;
}


.p2-calculadora-dados {

    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p2-calculadora-interface .div_forms {
    display: flex;
    align-items: center;
    width: 45%;
    text-align: justify;
}

/*Fim Calculadora*/


/* Dashboard */

.body-dash{
    height: 100vh;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    width: 98vw;
}

.dashboard-container .navbar-lateral {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #808080;
    justify-content: space-between;

    height: 100dvh;

    /* define a posição da navbar para ser fixa no final da tela
        PRENDE A NAVBAR LATERAL NO EIXO 0 DA PÁGINA
    */
    top: 0;
    
    /* prende a navbar lateral e não dá overlap - cada div tem seu espaço não se atropelam e nem se atrapalham */
    position: sticky;
}

.dashboard-container .navbar-lateral .lateral-opcoes {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dashboard-container .navbar-lateral .topo {
    display: flex;
    align-items: center;
    gap: 0 10px;
    padding: 12px 48px 12px 20px;
    border-bottom: 1px solid #808080;
}

.dashboard-container .navbar-lateral .topo .credenciais {
    display: flex;
    flex-direction: column;
}

.dashboard-container .navbar-lateral .topo .credenciais h4 {
    font-size: 15px;
    margin: 0;
    font-weight: normal;
    color: #F7FFF7;
}

.dashboard-container .navbar-lateral .topo .credenciais p {
    font-size: 10px;
    margin: 0;
}

.dashboard-container .navbar-lateral .topo span {
    background-color: #ffc714;
    display: flex;
    color: #F7FFF7;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.dashboard-container .navbar-lateral .opcoes {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 35px;
}

.dashboard-container .navbar-lateral .opcoes .opcao {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 12px;
    font-weight: bolder;
}

.dashboard-container .navbar-lateral .opcoes .opcao-selecionada {
    text-decoration: underline;
}

.dashboard-container .navbar-lateral .exit {
    display: flex;
    padding: 20px 28px;
    align-items: center;
    gap: 8px;
    border-top: 1px solid #808080;
}

.exit a {
    text-decoration: none;
    color: #808080;
}

.dashboard-container .container {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.dashboard-container .container .dashboard-navbar {
    display: flex;
    align-items: center;
    padding: 0 20px 3px 50px;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    width: 97%;
}

.dashboard-container .container .dashboard-navbar span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.dashboard-container .container .dashboard-navbar h1 {
    font-size: 28px;
    font-weight: 100px;
}

.dashboard-body {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-bottom: 0;
    gap: 42px;
}

.dashboard-body h1 {
    font-size: 19px;
    color: #1e1e1e;
    margin: 0;
}

.dashboard-body p {
    font-size: 12px;
    color: #5C5C5C;
    margin: 0;
}

.dashboard-body span {
    background-color: #F5F5F5;
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}


.dashboard-body .saudacoes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dashboard-body .metricas-gerais {
    display: flex;
    gap: 40px;
}

.dashboard-body .metricas-gerais .metrica {
    display: flex;
    gap: 10px;
}

.dashboard-body .dashboard-principal {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dashboard-body .dashboard-principal h2 {
    font-size: 16px;
    font-weight: normal;
    color: #5C5C5C;
    font-style: italic;
    margin: 0;
}

.dashboard-body .dashboard-principal h1 {
    font-size: 16px;
}

.dashboard-body .dashboard-principal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.dashboard-body .dashboard-principal-direita {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-body .dashboard-principal-direita .acoes-rapidas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-body .dashboard-principal-direita button {
    width: 248px;
    height: 35px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 11px;
}

.dashboard-body .button-email {
    background-color: #fff;
    border: 1px solid #1e1e1e;
    text-align: center;
    color: #1e1e1e;
}

.dashboard-body .button-pdf {
    background-color: #1e1e1e;
    text-align: center;
    color: #fff;
    border: none;
}

.dashboard-body .dashboard-avisos {
    background-color: #ffc714;
    padding: 20px;
}

.dashboard-body .dashboard-avisos div {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-self: center;
}

.dashboard-principal-esquerda {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboard-body .dashboard-principal-esquerda .grafico-um {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f5f5f5;
    padding: 10px 20px;
    width: 705px;
}

.dashboard-body .dashboard-principal-esquerda .graficos {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.dashboard-body .dashboard-principal-esquerda .graficos .grafico-dois {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F5F5F5;
    padding: 10px 20px;
    width: 250px;
}

.dashboard-body .dashboard-principal-esquerda .graficos .grafico-tres {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F5F5F5;
    padding: 10px 20px;
    width: 400px;
}

.dashboard-body .dashboard-principal-esquerda .graficos .grafico-quatro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F5F5F5;
    padding: 10px 20px;
    width: 325px;
}
.dashboard-body .dashboard-principal-esquerda .graficos .grafico-tres p {
    font-size: 15px;
}

#kpi_zona{
    color: #ff0000;
}

.dashboard-principal-cards{
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
}
.dashboard-principal-cards .card{
    width: 220px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 10px;


    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.norte:hover{
    background-image: url("../assets/norte.png");
}

.sul:hover{
    background-image: url("../assets/sul.png");
}

.leste:hover{
    background-image: url("../assets/leste.png");
}

.oeste:hover{
    background-image: url("../assets/oeste.png");
}

.centro:hover{
    background-image: url("../assets/centro.png");    
    background-size: 40%;
}

/*Fim Dashboard*/



/* Aqui começa a tela de cadastro */


.div_conteudo-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div_conteudo-cadastro,
.div_conteudo-login .titulo {
    margin-top: 40px;
}

.titulo h2 {
    margin: 0;
    font-size: 35px;
    text-align: center;

}

.titulo h3 {
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
}

.div_forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 35px;
    border-radius: 10px;
    background-color: #f4f4f4;
    margin-top: 20px;
    margin-bottom: 60px;
}


.div_forms .campo p {
    color: #0c0c0c;
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
}

.input_cad-log {
    border: none;
    width: 406px;
    height: 38px;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 10px;
    font-size: 15px;

}


.div_forms h4 {
    color: #0c0c0c;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    text-align: center;


}

.div_forms a {
    color: #ffc714;
    margin: 0;
}

/*Fim cadastro*/

/* Aqui começa a tela de login */



.div_conteudo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-campos {
    display: flex;
    gap: 20px;
}

.login-opcoes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/*Fim Login*/