body {
    margin: 0;
    font-family: 'ubuntu', sans-serif;
}

.header {
    color: black;
    -webkit-box-shadow: -1px -7px 24px -7px rgba(8, 8, 8, 1);
    -moz-box-shadow: -1px -7px 24px -7px rgba(8, 8, 8, 1);
    box-shadow: -1px -7px 24px -7px rgba(8, 8, 8, 1);
    font-weight: bold;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.titulo {
    font-size: 16px;
    padding-left: 40px;
}

.navbar {
    display: flex;
    gap: 40px;
}

.navbar a{
    color: black;
    font-size: 14px;
    outline: none;
    text-decoration: none;
}

.navbar li {
    list-style: none;
}

.footer {
    width: 100%;
    height: 220px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-start;
    border-radius: 5px;

}

.footer .container {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-bottom: 50px;
}

.tituloF {
    color: white;
    font-weight: bold;
    font-size: 16px;

}

.traco {
    background-color: #ffc714;
    width: 90px;
    height: 2px;
    margin-bottom: 30px;

}

.descricaoF {
    font-size: 14px;
}

/* Simulador */

.simulador {
    text-align: center;
    align-items: center;
    margin-top: 90px;
}

.simulador h1 {
    font-size: 36px;
}

.simulador span{
    font-size: 14px;
}

.simulador-box {
    margin-top: 80px;
    margin-left: 120px;
    margin-bottom: 80px;
    width: 50%;
    height: 320px;
    border-radius: 10px;
    background-color: #f4f4f4;
    -webkit-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
}

.simulador-interface {
    display: flex;
    gap: 7%;
}

.simulador-grafico1 {
    margin-top: 10%;
    margin-right: 10%;
    width: 50%;
}

.simulador-dados {
    padding-top: 40px;
    padding-left: 60px;
    font-size: 16px;
    text-align: justify;
}

.simulador-dados input {
    border-color: white;
    height: 35px;
    border-width: 0px;
    width: 85%;
}

.simulador-dados button {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    width: 85%;
    height: 45px;
    margin-top: 25px;
}

.simulador-dados select {
    width: 10%;
}
/* Dashboard */

.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 98vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.dashboard-container .navbar-lateral {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #808080;
    justify-content: space-between;
}

.dashboard-container .navbar-lateral .lateral-opcoes {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dashboard-container .navbar-lateral .topo {
    display: flex;
    align-items: center;
    gap: 0 10px;
    padding: 15px 48px 15px 20px;
    border-bottom: 1px solid #808080;
}

.dashboard-container .navbar-lateral .topo .credenciais {
    display: flex;
    flex-direction: column;
}

.dashboard-container .navbar-lateral .topo .credenciais h4 {
    font-size: 15px;
    margin: 0;
    font-weight: normal;
    color: #F7FFF7;
}

.dashboard-container .navbar-lateral .topo .credenciais p {
    font-size: 10px;
    margin: 0;
}

.dashboard-container .navbar-lateral .topo span {
    background-color: #ffc714;
    display: flex;
    color: #F7FFF7;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.dashboard-container .navbar-lateral .opcoes {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 35px;
}

.dashboard-container .navbar-lateral .opcoes .opcao {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 12px;
    font-weight: bolder;
}

.dashboard-container .navbar-lateral .exit {
    display: flex;
    padding: 20px 28px;
    align-items: center;
    gap: 8px;
    border-top: 1px solid #808080;
    
}

.dashboard-container .container {
    display: flex;
    flex-direction: column;
    

}

.dashboard-container .container .dashboard-navbar{
    display: flex;
    align-items: center;
    width: 81vw;
    padding: 0px 20px 3px 50px;
    justify-content: space-between;
    border-bottom: 1px solid #808080;    
}

.dashboard-container .container .dashboard-navbar span {
    background-color: #1e1e1e;
    display: flex;
    color: #F7FFF7;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.dashboard-container .container .dashboard-navbar h1 {
    font-size: 28px;
    font-weight: 100px;
}

.dashboard-body {
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap: 45px;
}

.dashboard-body h1{
    font-size: 19px;
    color: #1e1e1e;
    margin: 0;
}

.dashboard-body p {
    font-size: 12px;
    color: #5C5C5C;
    margin: 0;
}

.dashboard-body span {
    background-color: #F5F5F5;
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.dashboard-body .saudacoes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dashboard-body .metricas-gerais {
    display: flex;
    gap: 90px;
}

.dashboard-body .metricas-gerais .metrica {
    display: flex;
    gap: 12px;
}

.dashboard-body .dashboard-principal{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboard-body .dashboard-principal h2{
    font-size: 16px;
    font-weight: normal;
    color: #5C5C5C;
    font-style: italic;
    margin: 0;
}

.dashboard-body .dashboard-principal h1 {
    font-size: 16px;
}

.dashboard-body .dashboard-principal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.dashboard-body .dashboard-principal-direita {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-body .dashboard-principal-direita .acoes-rapidas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-body .dashboard-principal-direita button{
    width: 248px;
    height: 35px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 11px;
}

.dashboard-body .button-email {
    background-color: #fff;
    border: 1px solid #1e1e1e;
    text-align: center;
    color: #1e1e1e;
} 

.dashboard-body .button-pdf {
    background-color: #1e1e1e;
    text-align: center;
    color: #fff;
    border: none;
}

.dashboard-body .dashboard-avisos {
    background-color: #ffc714;
    padding: 20px;
}

.dashboard-body .dashboard-avisos div {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-self: center;
}

/* Calculadora */

.calculadora {
    text-align: center;
    align-items: center;
    margin-top: 90px;
}

.calculadora h1 {
    font-size: 36px;
}

.calculadora span{
    font-size: 14px;
}

.p1-calculadora-box {
    margin-top: 30px;
    margin-bottom: 89px;
    margin-left: 35%;
    width: 30%;
    height: 320px;
    border-radius: 10px;
    background-color: #f4f4f4;
    -webkit-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
}

.p1-calculadora-interface {
    display: flex;
    gap: 7%;
}

.p1-calculadora-dados {
    padding-top: 40px;
    padding-left: 60px;
    font-size: 16px;
    text-align: justify;
}

.p1-calculadora-dados input {
    border-color: white;
    height: 35px;
    border-width: 0px;
    width: 85%;
}

.p1-calculadora-dados button {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    width: 85%;
    height: 45px;
    margin-top: 25px;
}

.p1-calculadora-dados p {
    margin-right: 70px;
}

.p1-calculadora-dados select {
    width: 10%;
}

.p2-calculadora-box {
    margin-top: 30px;
    margin-bottom: 89px;
    margin-left: 35%;
    width: 30%;
    height: 320px;
    border-radius: 10px;
    background-color: #f4f4f4;
    -webkit-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
}

.p2-calculadora-interface {
    display: flex;
    gap: 7%;
}

.p2-calculadora-dados {
    padding-top: 10px;
    padding-left: 60px;
    font-size: 16px;
    text-align: justify;
}

.p2-calculadora-dados input {
    border-color: white;
    height: 35px;
    border-width: 0px;
    width: 85%;
}

.p2-calculadora-dados button {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    width: 85%;
    height: 45px;
    margin-top: 5px;
}

.p2-calculadora-dados p {
    margin-right: 70px;
}

.p2-calculadora-dados select {
    width: 10%;
}