body {
    margin: 0;
    font-family: 'ubuntu', sans-serif;
    overflow-x: hidden;
}

.header {
    color: black;
    -webkit-box-shadow: -1px -7px 24px -7px rgba(8, 8, 8, 1);
    -moz-box-shadow: -1px -7px 24px -7px rgba(8, 8, 8, 1);
    box-shadow: -1px -7px 24px -7px rgba(8, 8, 8, 1);
    font-weight: bold;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.header .container .titulo {
    font-size: 16px;
    padding-left: 40px;
}

.navbar {
    display: flex;
    gap: 30px;
}

.navbar a {
    color: black;
    font-size: 14px;
    outline: none;
    text-decoration: none;
}

.navbar li {
    list-style: none;
}

.footer {
    width: 100%;
    height: 220px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-start;
    border-radius: 5px;

}

.footer .container {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-bottom: 50px;
}

.tituloF {
    color: white;
    font-weight: bold;
    font-size: 16px;

}

.traco {
    background-color: #ffc714;
    width: 90px;
    height: 2px;
    margin-bottom: 30px;

}

.descricaoF {
    font-size: 14px;
}

/* Começo da Home index.html*/

.banner {
    width: 100%;
    height: 620px;
    background-image: url('../assets/imagem-fundo.png');
    background-size: cover;
    border-bottom: 5px solid #ffc714;
}

.banner-text {
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(60%);
}

.banner .header {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.banner .header .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0;
    height: 200px;
    width: 100%;
}

.banner .header .container .titulo {
    padding-left: 0;
    padding-top: 20px;
}

.banner .header .container .navbar {
    width: 45%;
    padding-top: 35px;
}

.banner .header .container .titulo h1 {
    font-size: 30px;
} 

.banner a {
    color: #F7FFF7;
}

.banner .container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-left: 90px;
}

.banner .container h1 {
    color: #F7FFF7;
    font-weight: bolder;
    font-size: 40px;
    margin: 0;
}

.banner .container p {
    color: #F7FFF7;
    font-size: 16px;
}

.body {
    width: 100%;
    height: 980px;
}

.body h1 {
    font-size: 40px;
}

.body .sobreNos {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body .sobreNos p {
    width: 50%;
    text-align: center;
    font-size: 18px;
}

.body .valores {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #ffc714;
    flex-direction: column;
    align-items: center;
    color: white;
}

.body .valores h1 {
    margin-bottom: 0px;
    font-weight: bolder;
}

.boxes {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.box h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #F7FFF7;
    font-family: 'Ubuntu';
}

.box p {
    font-size: 20px;
    width: 80%;
    text-align: center;
    height: 20%;
}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_inovacao {
    height: 190px;
    width: 190px;    
}

#img_sustentabilidade {
    height: 160px;
    width: 160px;
}

#img_seguranca {
    height: 170px;
    width: 170px;
}

#div_container-solucao #div_conjunto-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_container-home .div_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    flex-direction: column;
}

.div_container-home .div_titulo h1 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 30px;
}

.div_container-home .div_traco {
    background-color: #ffc714;
    width: 110px;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 20px;

}

#div_conjunto-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 35px;
    gap: 60px;

}

.div_card {
    padding-top: 100px;
    width: 23rem;
    background-color: #ffc714;
    padding: 20px;
    border-radius: 10px;
}

.div_card h1 {
    font-size: 50px;
    color: #F5F5F5;
    margin: 0;
    font-family: Unbounded;
}

.div_card h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div_card h4 {
    font-weight: normal;
    width: 20rem;
    
}

.div_card h3,
h4 {
    color: #0c0c0c;
    font-family: 'Ubuntu';
}

.div_container-parceiros .div_container-img {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.div_container-img img {
    width: 20%;
}

.div_container-contato .div-conteudo {
    display: flex;
    background-color: #F5F5F5;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
    margin-top: 35px;
    gap: 50px;
}

#img-carros-home{
    height: 34rem;
    border-radius: 10px;
    filter: brightness(60%);
}
.div_container-contato .div-conteudo .div_forms {
    font-family: 'Ubuntu';
    padding: 30px;
    width: 35%;
    height: 30rem;
    border-radius: 10px;
    background-color: #f4f4f4;
    -webkit-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
}

.div_forms .input_campo, .input_campo-msg, .button-forms{
    border: 0px;
    border-radius: 5px;
    width: 100%;
}

 .input_campo{
    height: 50px;
}

.div_forms .input_campo-msg{
    height: 100px;
    margin-bottom: 5%;
}

.div_forms .button-forms{
    height: 50px;
    background-color: #0c0c0c;
    color: #f4f4f4;
    font-size: 15px;
}
/* Fim da Home index.html*/

/* Simulador */

.simulador {
    text-align: center;
    align-items: center;
    margin-top: 90px;
}

.simulador h1 {
    font-size: 36px;
}

.simulador span {
    font-size: 14px;
}

.simulador-box {
    margin-top: 80px;
    margin-left: 120px;
    margin-bottom: 80px;
    width: 50%;
    height: 320px;
    border-radius: 10px;
    background-color: #f4f4f4;
    -webkit-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
}

.simulador-interface {
    display: flex;
    gap: 7%;
}

.simulador-grafico1 {
    margin-top: 10%;
    margin-right: 10%;
    width: 50%;
}

.simulador-dados {
    padding-top: 40px;
    padding-left: 60px;
    font-size: 16px;
    text-align: justify;
}

.simulador-dados input {
    border-color: white;
    height: 35px;
    border-width: 0px;
    width: 85%;
}

.simulador-dados button {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    width: 85%;
    height: 45px;
    margin-top: 25px;
}

.simulador-dados select {
    width: 10%;
}

/* Dashboard */

.dashboard-container {
    display: flex;
    flex-direction: row;
    width: 98vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.dashboard-container .navbar-lateral {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #808080;
    justify-content: space-between;
}

.dashboard-container .navbar-lateral .lateral-opcoes {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dashboard-container .navbar-lateral .topo {
    display: flex;
    align-items: center;
    gap: 0 10px;
    padding: 15px 48px 15px 20px;
    border-bottom: 1px solid #808080;
}

.dashboard-container .navbar-lateral .topo .credenciais {
    display: flex;
    flex-direction: column;
}

.dashboard-container .navbar-lateral .topo .credenciais h4 {
    font-size: 15px;
    margin: 0;
    font-weight: normal;
    color: #F7FFF7;
}

.dashboard-container .navbar-lateral .topo .credenciais p {
    font-size: 10px;
    margin: 0;
}

.dashboard-container .navbar-lateral .topo span {
    background-color: #ffc714;
    display: flex;
    color: #F7FFF7;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.dashboard-container .navbar-lateral .opcoes {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 35px;
}

.dashboard-container .navbar-lateral .opcoes .opcao {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 12px;
    font-weight: bolder;
}

.dashboard-container .navbar-lateral .exit {
    display: flex;
    padding: 20px 28px;
    align-items: center;
    gap: 8px;
    border-top: 1px solid #808080;
}

.exit a {
    text-decoration: none;
    color: #808080;
}

.dashboard-container .container {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.dashboard-container .container .dashboard-navbar {
    display: flex;
    align-items: center;
    padding: 0px 20px 3px 50px;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
}

.dashboard-container .container .dashboard-navbar span {
    background-color: #1e1e1e;
    display: flex;
    color: #F7FFF7;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.dashboard-container .container .dashboard-navbar h1 {
    font-size: 28px;
    font-weight: 100px;
}

.dashboard-body {
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap: 45px;
}

.dashboard-body h1 {
    font-size: 19px;
    color: #1e1e1e;
    margin: 0;
}

.dashboard-body p {
    font-size: 12px;
    color: #5C5C5C;
    margin: 0;
}

.dashboard-body span {
    background-color: #F5F5F5;
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.dashboard-body .saudacoes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dashboard-body .metricas-gerais {
    display: flex;
    gap: 90px;
}

.dashboard-body .metricas-gerais .metrica {
    display: flex;
    gap: 12px;
}

.dashboard-body .dashboard-principal {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboard-body .dashboard-principal h2 {
    font-size: 16px;
    font-weight: normal;
    color: #5C5C5C;
    font-style: italic;
    margin: 0;
}

.dashboard-body .dashboard-principal h1 {
    font-size: 16px;
}

.dashboard-body .dashboard-principal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.dashboard-body .dashboard-principal-direita {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-body .dashboard-principal-direita .acoes-rapidas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-body .dashboard-principal-direita button {
    width: 248px;
    height: 35px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 11px;
}

.dashboard-body .button-email {
    background-color: #fff;
    border: 1px solid #1e1e1e;
    text-align: center;
    color: #1e1e1e;
}

.dashboard-body .button-pdf {
    background-color: #1e1e1e;
    text-align: center;
    color: #fff;
    border: none;
}

.dashboard-body .dashboard-avisos {
    background-color: #ffc714;
    padding: 20px;
}

.dashboard-body .dashboard-avisos div {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-self: center;
}

.dashboard-principal-esquerda {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboard-body .dashboard-principal-esquerda .grafico-um {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f5f5f5;
    padding: 10px 20px;
    width: 705px;
}

.dashboard-body .dashboard-principal-esquerda .graficos {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.dashboard-body .dashboard-principal-esquerda .graficos .grafico-dois {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F5F5F5;
    padding: 10px 20px;
    width: 250px;
}

.dashboard-body .dashboard-principal-esquerda .graficos .grafico-tres {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F5F5F5;
    padding: 10px 20px;
    width: 400px;
}

/* Calculadora */

.calculadora {
    text-align: center;
    align-items: center;
    margin-top: 90px;
}

.calculadora h1 {
    font-size: 36px;
}

.calculadora span {
    font-size: 14px;
}

.p1-calculadora-box {
    margin-top: 30px;
    margin-bottom: 89px;
    margin-left: 35%;
    width: 30%;
    height: 320px;
    border-radius: 10px;
    background-color: #f4f4f4;
    -webkit-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
}

.p1-calculadora-interface {
    display: flex;
    gap: 7%;
}

.p1-calculadora-dados {
    padding-top: 40px;
    padding-left: 60px;
    font-size: 16px;
    text-align: justify;
}

.p1-calculadora-dados input {
    border-color: white;
    height: 35px;
    border-width: 0px;
    width: 85%;
}

.p1-calculadora-dados button {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    width: 85%;
    height: 45px;
    margin-top: 25px;
}

.p1-calculadora-dados p {
    margin-right: 70px;
}

.p1-calculadora-dados select {
    width: 10%;
}

.p2-calculadora-box {
    margin-top: 30px;
    margin-bottom: 89px;
    margin-left: 35%;
    width: 30%;
    height: 320px;
    border-radius: 10px;
    background-color: #f4f4f4;
    -webkit-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
}

.p2-calculadora-interface {
    display: flex;
    gap: 7%;
}

.p2-calculadora-dados {
    padding-top: 10px;
    padding-left: 60px;
    font-size: 16px;
    text-align: justify;
}

.p2-calculadora-dados input {
    border-color: white;
    height: 35px;
    border-width: 0px;
    width: 85%;
}

.p2-calculadora-dados button {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    width: 85%;
    height: 45px;
    margin-top: 5px;
}

.p2-calculadora-dados p {
    margin-right: 70px;
}

.p2-calculadora-dados select {
    width: 10%;
}

/* Aqui começa a tela de cadastro */
.tela-cadastro {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.cadastro-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cadastro-container .titulo {
    text-align: center;
    display: flex;
    gap: 6px;
    flex-direction: column;
    margin-bottom: 20px;
}

.titulo h2 {
    margin: 0;
    font-size: 35px;
}

.titulo h6 {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
}

.interface {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 20px 35px;
    border-radius: 10px;
    background-color: #f4f4f4;
}

.interface .campo p {
    color: #0c0c0c;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

.interface .campo input {
    border: none;
    width: 406px;
    height: 38px;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 10px;
}

.interface button {
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 5px;
    width: 420px;
    height: 40px;
    font-weight: bolder;
    font-size: 16px;
}

.interface span {
    font-size: 10px;
    color: #0c0c0c;
}

.interface span a {
    color: #0c0c0c;
    margin: 0;
}

/* Aqui começa a tela de login */

.titulo-login h2 {
    text-align: center;
}

.titulo-login h6 {
    text-align: center;
}

.div_container-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface-login {
    padding: 30px 100px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 24px -9px rgba(0, 0, 0, 1); 
}

.interface-login .campo p {
    color: #0c0c0c;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

.interface-login .campo input {
    border: none;
    width: 406px;
    height: 38px;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 10px;
}

.interface-login button {
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 5px;
    width: 420px;
    height: 40px;
    font-weight: bolder;
    font-size: 16px;
}

.interface-login span {
    font-size: 10px;
    color: #0c0c0c;
}

.interface-login span a {
    color: #0c0c0c;
    margin: 0;
}